<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Sistema OS</title>

    <!-- CSS com cache busting -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Font Awesome via CDN -->
<<<<<<< HEAD
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" asp-append-version="true" />

    <!-- Variável global -->
    <script>
        window.menuBloqueado = false; // menu começa liberado
    </script>

    <style>

        /* Estilo para desabilitar visualmente */
        .menu-disabled {
            pointer-events: none; /* bloqueia clique */
            opacity: 0.5; /* deixa visualmente apagado */
        }
    </style>
</head>

=======
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
>>>>>>> 2ddd7e7f7bdc32e421f23a847a01c8ab48c6f1d7
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
<<<<<<< HEAD
                <span class="navbar-brand">Sistema OS</span>
=======
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Sistema OS</a>
>>>>>>> 2ddd7e7f7bdc32e421f23a847a01c8ab48c6f1d7
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Alternar navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">

                        <!-- Cadastros -->
                        <li class="nav-item dropdown">
<<<<<<< HEAD
                            <a class="nav-link btn-logout" href="#" id="cadastrosDropdown" role="button" data-bs-toggle="dropdown">
                                <i class="fa fa-users me-2"></i> Cadastros
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-controller="Clientes" asp-action="Index">
                                        <i class="fa fa-address-book me-2"></i> Clientes
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Fornecedores" asp-action="Index">
                                        <i class="fa fa-truck me-2"></i> Fornecedores
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Produtos" asp-action="Index">
                                        <i class="fa fa-box-open me-2"></i> Produtos
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Servicos" asp-action="Index">
                                        <i class="fa fa-tools me-2"></i> Serviços
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Usuarios" asp-action="Index">
                                        <i class="fa fa-user me-2"></i> Usuários
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="CategoriaServicos" asp-action="Index">
                                        <i class="fa fa-tags me-2"></i> Categoria de Serviços
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Marcas" asp-action="Index">
                                        <i class="fa fa-certificate me-2"></i> Marcas
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Modelos" asp-action="Index">
                                        <i class="fa fa-car me-2"></i> Modelos
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Unidades" asp-action="Index">
                                        <i class="fa fa-balance-scale me-2"></i> Unidades de Medida
                                    </a>
                                </li>
=======
                            <a class="nav-link dropdown-toggle" href="#" id="cadastrosDropdown" role="button" data-bs-toggle="dropdown">
                                Cadastros
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
                                <li><a class="dropdown-item" asp-controller="Fornecedores" asp-action="Index">Fornecedores</a></li>
                                <li><a class="dropdown-item" asp-controller="Produtos" asp-action="Index">Produtos</a></li>
                                <li><a class="dropdown-item" asp-controller="Servicos" asp-action="Index">Serviços</a></li>
                                <li><a class="dropdown-item" asp-controller="Usuarios" asp-action="Index">Usuários</a></li>
                                <li><a class="dropdown-item" asp-controller="CategoriaServicos" asp-action="Index">Categoria de Serviços</a></li>
                                <li><a class="dropdown-item" asp-controller="Marcas" asp-action="Index">Marcas</a></li>
                                <li><a class="dropdown-item" asp-controller="Modelos" asp-action="Index">Modelos</a></li>
                                <li><a class="dropdown-item" asp-controller="Unidades" asp-action="Index">Unidades de Medida</a></li>
>>>>>>> 2ddd7e7f7bdc32e421f23a847a01c8ab48c6f1d7
                            </ul>
                        </li>

                        <!-- Lançamentos -->
<<<<<<< HEAD
                        <li class="nav-item dropdown">
                            <a class="nav-link btn-logout" href="#" id="lancamentosDropdown" role="button" data-bs-toggle="dropdown">
                                <i class="fa fa-file-alt me-2"></i> Lançamentos
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-controller="Servicos" asp-action="Index">
                                        <i class="fa fa-tools me-2"></i> Serviços
                                    </a>
                                </li>
                            </ul>
=======
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Lancamentos" asp-action="Servicos">Lançamentos</a>
>>>>>>> 2ddd7e7f7bdc32e421f23a847a01c8ab48c6f1d7
                        </li>

                        <!-- Relatórios -->
                        <li class="nav-item dropdown">
<<<<<<< HEAD
                            <a class="nav-link btn-logout" href="#" id="relatoriosDropdown" role="button" data-bs-toggle="dropdown">
                                <i class="fa fa-chart-bar me-2"></i> Relatórios
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-controller="Relatorios" asp-action="Clientes">
                                        <i class="fa fa-address-book me-2"></i> Clientes
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Relatorios" asp-action="Fornecedores">
                                        <i class="fa fa-truck me-2"></i> Fornecedores
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Relatorios" asp-action="Usuarios">
                                        <i class="fa fa-user me-2"></i> Usuários
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Consultas -->
                        <li class="nav-item dropdown">
                            <a class="nav-link btn-logout" href="#" id="consultasDropdown" role="button" data-bs-toggle="dropdown">
                                <i class="fa fa-search me-2"></i> Consultas
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-controller="Logs" asp-action="AuditoriaLog">
                                        <i class="fa fa-address-book me-2"></i> Auditoria de Logs
                                    </a>
                                </li>    
                            </ul>
                        </li>
                        <!-- Configurações -->
                        <li class="nav-item dropdown">
                            <a class="nav-link btn-logout" href="#" id="configuracoesDropdown" role="button" data-bs-toggle="dropdown">
                                <i class="fa fa-cogs me-2"></i> Configurações
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-controller="Permissoes" asp-action="Index">
                                        <i class="fa fa-key me-2"></i> Permissões de Acesso
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Formularios" asp-action="Index">
                                        <i class="fa fa-wpforms me-2"></i> Formulários
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="ConexaoBD" asp-action="Index">
                                        <i class="fa fa-database me-2"></i> Conexão BD
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Ferramentas -->
                        <li class="nav-item dropdown">
                            <a class="nav-link btn-logout" href="#" id="ferramentasDropdown" role="button" data-bs-toggle="dropdown">
                                <i class="fa fa-tools me-2"></i> Ferramentas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="ferramentasDropdown">
                                <!-- Submenu Importar Dados -->
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">
                                        <i class="fa fa-download me-2"></i> Importar Dados
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-controller="ImportarClientes" asp-action="ImportarClientes">
                                                <i class="fa fa-address-book me-2"></i> Clientes
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="ImportarFornecedores" asp-action="ImportarFornecedores">
                                                <i class="fa fa-truck me-2"></i> Fornecedores
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="ImportarProdutos" asp-action="ImportarProdutos">
                                                <i class="fa fa-box-open me-2"></i> Produtos
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="ImportarServicos" asp-action="ImportarServicos">
                                                <i class="fa fa-tools me-2"></i> Serviços
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="ImportarUsuarios" asp-action="ImportarUsuarios">
                                                <i class="fa fa-user me-2"></i> Usuários
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="ImportarCategoriaServicos" asp-action="ImportarCategoriaServicos">
                                                <i class="fa fa-tags me-2"></i> Categoria de Serviços
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="ImportarMarcas" asp-action="ImportarMarcas">
                                                <i class="fa fa-certificate me-2"></i> Marcas
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="ImportarModelos" asp-action="ImportarModelos">
                                                <i class="fa fa-car me-2"></i> Modelos
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="ImportarUnidades" asp-action="ImportarUnidades">
                                                <i class="fa fa-balance-scale me-2"></i> Unidades de Medida
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="BackupSistema" asp-action="BackupSistema">
                                        <i class="fa fa-save me-2"></i> Backup
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="RestoreBackup" asp-action="RestoreBackup">
                                        <i class="fa fa-undo me-2"></i> Restaure
                                    </a>
                                </li>
                            </ul>
=======
                            <a class="nav-link dropdown-toggle" href="#" id="relatoriosDropdown" role="button" data-bs-toggle="dropdown">
                                Relatórios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Relatorios" asp-action="Clientes">Clientes</a></li>
                                <li><a class="dropdown-item" asp-controller="Relatorios" asp-action="Fornecedores">Fornecedores</a></li>
                                <li><a class="dropdown-item" asp-controller="Relatorios" asp-action="Usuarios">Usuários</a></li>
                            </ul>
                        </li>

                        <!-- Configurações -->
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Configuracoes" asp-action="Index">Configurações</a>
                        </li>

                        <!-- Ferramentas -->
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Ferramentas" asp-action="Index">Ferramentas</a>
>>>>>>> 2ddd7e7f7bdc32e421f23a847a01c8ab48c6f1d7
                        </li>

                        <!-- Fechar -->
                        <li class="nav-item">
<<<<<<< HEAD
                            <a href="#" class="nav-link btn-logout" data-bs-toggle="modal" data-bs-target="#modalFechar">
                                <i class="fa fa-times me-2"></i> Logout
                            </a>
=======
                            <a class="nav-link" href="#" onclick="window.close();" aria-label="Fechar aplicação">Fechar</a>
>>>>>>> 2ddd7e7f7bdc32e421f23a847a01c8ab48c6f1d7
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<<<<<<< HEAD

        @await Html.PartialAsync("_ModalConfirmacao", new {
            IdModal = "modalFechar",
            Icone = "fa fa-sign-out-alt",
            Titulo = "Confirmação",
            Mensagem = "Deseja Realmente Sair do Sistema?",
            ClasseMensagem = "mensagem-sucesso-modal",
            ActionController = "Account",
            ActionName = "Logout",
            IdRegistro = "",
            IconeBotaoPrincipal = "fa fa-sign-out-alt",
            TextoBotaoPrincipal = "Sair",
            TextoBotaoCancelar = "Cancelar",
            ActionControllerSecundario = "Home",
            ActionNameSecundario = "Index"
        })

=======
>>>>>>> 2ddd7e7f7bdc32e421f23a847a01c8ab48c6f1d7
    </header>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted mt-4">
        <div class="container">
            &copy; 2026 - Sistema OS
        </div>
    </footer>

<<<<<<< HEAD
    <!-- Scripts globais -->    
    <partial name="_ValidationScriptsPartial" />

    <!-- Scripts customizados do projeto -->
    <script src="~/js/Formatacoes.js" asp-append-version="true"></script>
    <script src="~/js/Validacoes.js" asp-append-version="true"></script>
    <script src="~/js/BuscaDadosNet.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/validacaoUtils.js" asp-append-version="true"></script>

    <!-- Seções específicas de cada view -->
    @RenderSection("Scripts", required: false)

    <!-- Partials globais -->
    <partial name="_MensagemModal" />

    <!-- Script para habilitar submenu e bloquear menu -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            aplicarEstadoMenu();

            document.querySelectorAll('.dropdown-submenu .dropdown-toggle').forEach(function (element) {
                element.addEventListener('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    let submenu = this.nextElementSibling;
                    if (submenu) {
                        submenu.classList.toggle('show');
                    }
                });
            });

            // Bloqueio do menu
            document.querySelectorAll('.navbar-nav .nav-link, .navbar-nav .dropdown-item').forEach(function (link) {
                link.addEventListener('click', function (e) {
                    if (menuBloqueado) {
                        e.preventDefault();
                        e.stopPropagation();
                    }
                });
            });
        });

        // Função para aplicar o estado do menu (bloqueado ou liberado)
        function aplicarEstadoMenu() {
            const links = document.querySelectorAll('.navbar-nav .nav-link, .navbar-nav .dropdown-item');
            if (window.menuBloqueado) {
                links.forEach(link => link.classList.add('menu-disabled'));
            } else {
                links.forEach(link => link.classList.remove('menu-disabled'));
            }
        }

        // Funções globais
        function bloquearMenu() {
            window.menuBloqueado = true;
            aplicarEstadoMenu();
        }

        // Exemplo de uso: bloquearMenu() para bloquear e liberarMenu() para liberar
        function liberarMenu() {
            window.menuBloqueado = false;
            aplicarEstadoMenu();
        }
    </script>
</body>
</html>
=======
    <!-- Scripts com cache busting -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/formatters.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
>>>>>>> 2ddd7e7f7bdc32e421f23a847a01c8ab48c6f1d7
