@model Ordem_Servicos_Web.Models.CategoriaServico

@{
    ViewData["Title"] = "Excluir Categoria de Serviços";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<partial name="_MensagemToast" />

<modal-confirmacao id-modal="confirmarExclusao"
                   icone="fa fa-trash"
                   titulo="Excluir Categoria de Serviços"
                   mensagem="Tem Certeza que Deseja Excluir a Categoria de Serviços?"
                   classe-mensagem="mensagem-sucesso-modal"
                   action-controller="CategoriaServicos"
                   action-name="Excluir"
                   id-registro="@Model.IdCategoriaServico"
                   icone-botao-principal="fa fa-trash"
                   texto-botao-principal="Excluir"
                   classe-botao-principal="btn-excluir"
                   texto-botao-cancelar="Voltar"
                   classe-botao-secundario="btn-voltar"
                   action-controller-secundario="CategoriaServicos"
                   action-name-secundario="Index">
</modal-confirmacao>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            bloquearMenu();
            var modalElement = document.getElementById("confirmarExclusao");
            if (modalElement) {
                var modal = new bootstrap.Modal(modalElement);
                modal.show();
            }
        });
    </script>
}