@model Ordem_Servicos_Web.Models.Servico

@{
    ViewData["Title"] = "Excluir Serviços";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<partial name="_MensagemToast" />

<modal-confirmacao id-modal="confirmarExclusao"
                   icone="fa fa-trash"
                   titulo="Excluir Serviço"
                   mensagem="Tem certeza que deseja excluir o serviço <strong>@Model.Descricao</strong>?"
                   classe-mensagem="mensagem-sucesso-modal"
                   action-controller="Servicos"
                   action-name="Excluir"
                   id-registro="@Model.IdServico"
                   icone-botao-principal="fa fa-trash"
                   texto-botao-principal="Excluir"
                   classe-botao-principal="btn-danger"
                   texto-botao-cancelar="Voltar"
                   classe-botao-secundario="btn-secondary"
                   action-controller-secundario="Servicos"
                   action-name-secundario="Index">
</modal-confirmacao>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            bloquearMenu();
            var modalElement = document.getElementById("confirmarExclusao");
            if (modalElement) {
                var modal = new bootstrap.Modal(modalElement);
                modal.show();
            }
        });
    </script>
}