@model Ordem_Servicos_Web.Models.Permissao

@{
    ViewData["Title"] = "Alterar Permissão";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<partial name="_MensagemToast" />


<form asp-action="Alterar" method="post" id="formPermissao">
    <input type="hidden" asp-for="IdPermissao" />

    <!-- Linha 1 -->
    <div class="row mb-2 g-4">
        <div class="col-auto">
            <label class="label-destaque">Nome do Usuário</label>
            <input type="text" class="form-control" value="@Model.Usuario?.NomeUsuario" readonly style="width:450px;" />
        </div>
        <div class="col-auto">
            <label class="label-destaque">Opção do Menu</label>
            <input type="text" class="form-control" value="@Model.Menu?.Descricao" readonly style="width:250px;" />
        </div>

        <div class="col-auto">
            <label class="label-destaque">Opção SubIten do Menu</label>
            <input type="text" class="form-control" value="@Model.ItensMenu?.Descricao" readonly style="width:250px;" />
        </div>
    </div>

    <!-- Linha 2 -->
    <div class="row mb-2 g-4 align-items-center" style="margin-left:0.5em;">
        <div class="col-auto form-check form-switch d-flex align-items-center">
            <input asp-for="Executar" id="Executar" class="form-check-input toggle-switch" style="width:3em;" type="checkbox" autofocus />
            <label class="form-check-label label-destaque ms-2">Pode Executar</label>
        </div>
        <div class="col-auto form-check form-switch d-flex align-items-center">
            <input asp-for="Criar" id="Criar" class="form-check-input toggle-switch" style="width:3em;" type="checkbox" />
            <label class="form-check-label label-destaque ms-2">Pode Criar</label>
        </div>

        <div class="col-auto form-check form-switch d-flex align-items-center">
            <input asp-for="Alterar" id="Alterar" class="form-check-input toggle-switch" style="width:3em;" type="checkbox" />
            <label class="form-check-label label-destaque ms-2">Pode Alterar</label>
        </div>

        <div class="col-auto form-check form-switch d-flex align-items-center">
            <input asp-for="Excluir" id="Excluir" class="form-check-input toggle-switch" style="width:3em;" type="checkbox" />
            <label class="form-check-label label-destaque ms-2">Pode Excluir</label>
        </div>
    </div>

    <!-- Botões -->
    <div class="d-flex gap-2 mt-4">
        <button type="submit" id="btnSalvar" class="btn btn-salvar btn-bg">
            <i class="fa fa-save"></i> Salvar Alterações
        </button>
        <a asp-action="Index" class="btn btn-voltar btn-bg">
            <i class="fa fa-arrow-left"></i> Voltar
        </a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            bloquearMenu();
        });
    </script>
}